.snippet {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;

    width: 579px;
    height: 150px;

    color: #ffffff;
}

.snippet__class,
.snippet__close {
    font-size: 40px;
    font-weight: 700;
}

.snippet__class span,
.snippet__close span {
    font-weight: 400;
}
.snippet__code {
    margin-left: 50px;
    padding: 3px;

    font-size: 20px;
}

.snippet__close {

}