@import 'normalize.css/normalize.css';

html,
body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

ul {
    margin: 0;

    list-style: none;
}

.js-roboto-loaded {
    font-family: 'Roboto', sans-serif;
}